body {
  text-align: center;
  font-family: Helvetica;
}
h1 {
  color: white;
  font-weight: bold;
  font-size: 70px;
}
.header {
  background-image: url(./resources/images/the-flatiron-building.png);
    );
}
